# This workflow will install Node.js dependencies and run tests with a single version of Node.js

name: Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Setup Deno
        uses: denoland/setup-deno@v2
      - name: Run tests
        run: deno task test
